/*
*
* Catppuccin Mocha palette
* Maintainer: rubyowo
*
*/

@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;

/** ********** Fonts ********** **/
* {
    font-family: "JetBrainsMono Nerd Font", archcraft, sans-serif;
    font-weight: 700;
    font-size: 12px;
}
window#waybar {
  background-color: @base;
  color: @base;
  border-bottom: 1px solid @lavender;
  transition-property: background-color;
  transition-duration: .5s;
}
window#waybar.hidden {opacity: 0.5;}

@keyframes blink {
  to {
    color: #000000;
  }
}

/** ********** Clock ********** **/
#clock {
	color: @green;
}

/** ********** CPU ********** **/
#cpu {
  color: @sky;
}

/** ********** Memory ********** **/
#memory {
	color: @maroon;
}

/** ********** Disk ********** **/
#disk {
	color: @pink;
}

/** ********** Tray ********** **/
#tray {
	/*color: #b4befe;*/
}
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
#tray > .active {
}

/** ********** MPD ********** **/
#mpd {
	color: @teal;
}

#mpd.disconnected {
	color: @red;
}

#mpd.stopped {
	color: pink;
}

#mpd.playing {
	color: @flamingo;
}

#mpd.paused {
}

/** ********** Pulseaudio ********** **/
#pulseaudio {
	color: @flamingo;
}

#pulseaudio.bluetooth {
	color: @rosewater;
}
#pulseaudio.muted {
	/*color: #313244;*/
	color: @text;
}

/** ********** Network ********** **/
#network {
	color: @sapphire;
}

#network.disconnected,#network.disabled {
	/*color: #313244;*/
	color: @red;
}
#network.linked {
}
#network.ethernet {
}
#network.wifi {
}

/** ********** Custom ********** **/
#custom-menu, #custom-power {
	border-radius: 4px;
	margin: 6px 0px;
	padding: 2px 8px;
}

#custom-menu {
	color: @rosewater;
	margin-left: 6px;
	padding: 2px 6px;
	font-size: 16px;
}

#custom-power {
	color: @rosewater;
	margin-right: 6px;
	padding: 2px 8px;
	font-size: 16px;
}

/** ********** Custom Media Player ********** **/
#custom-media{
	border-radius: 4px;
	margin: 6px 0px;
	padding: 2px 8px;
  color: @flamingo;
	margin-right: 6px;
	padding: 2px 8px;
}

/** Common style **/
#backlight, 
#battery,
#clock,
#cpu,
#disk,
#mode,
#memory,
#mpd,
#tray,
#pulseaudio,
#network {
	border-radius: 4px;
	margin: 6px 0px;
	padding: 2px 8px;
}
